<%= form_for @prescription do |f| %>
  <% if @prescription.errors.any? %>
    <h3>Errors:</h3>
    <ul class="errors">
      <% @prescription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <br>
  <% end %>
  Drug Name: <%= f.text_field(:drug, id: "drug") %>
  <br>
  <br>
  <%= f.label "Dosage:" %>
  <%= f.number_field(:dosage_in_milligrams, id: "dosage_in_milligrams", step: 5, min: 0) %> mg.
  <br>
  <br>
  <%= f.label "Appointment:" %>
  <%= f.collection_select(:appointment_id, Appointment.for_current_user(current_user), :id, :date_and_patient) %>
  <br>
  <br>
  <br>
  <%= f.submit "Send Prescription" %>
<% end %>


<ul id ="prescriptionResult">
  <li id="prescriptionPatient">
    <small><i>Patient:</i></small>
  </li>
  <li id="prescriptionDrug">
    <small><i>Drug:</i></small>
  </li>
  <li id="prescriptionDosage">
    <small><i>Dosage:</i></small>
  </li>
  <li id="prescriptionAilment">
    <small><i>Reason:</i></small>
  </li>
  <li id="prescriptionAppointment">
    <small><i>Appointment Date:</i></small>
  </li>
</ul>


<script type="text/javascript" charset="utf-8">
  $(function addEventListenerToForm() {
    $('#new_prescription').on("submit", function(event) {
      event.preventDefault();
      let values = $(this).serialize();
      $.post('/prescriptions', values).done(function(data) {
        let prescription = data;
        $("#prescriptionPatient").append(prescription["appointment"]["patient"]["first_name"] + " " + prescription["appointment"]["patient"]["last_name"]);
        $("#prescriptionDrug").append(prescription["drug"]);
        $("#prescriptionDosage").append(prescription["dosage_in_milligrams"] + " " + "mg");
        $("#prescriptionAilment").append(prescription["appointment"]["ailment"]["description"]);
        $("#prescriptionAppointment").append(prescription["appointment"]["scheduled_for"]);
      });
    });
  });
</script>
