<%= form_for @prescription do |f| %>
  <% if @prescription.errors.any? %>
    <h3>Errors:</h3>
    <ul class="errors">
      <% @prescription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <br>
  <% end %>
  Drug Name: <%= f.text_field(:drug, id: "drug") %>
  <br>
  <br>
  <%= f.label "Dosage:" %>
  <%= f.number_field(:dosage_in_milligrams, id: "dosage_in_milligrams", step: 5, min: 0) %> mg.
  <br>
  <br>
  <%= f.label "Appointment:" %>
  <%= f.collection_select(:appointment_id, Appointment.for_current_user(current_user), :id, :date_and_patient) %>
  <br>
  <br>
  <%= f.submit "Send Prescription" %>
<% end %>
<br>
<br>
<i>New Prescription Details</i>
<ul id ="prescriptionResult">
  <li id="prescriptionPatient">
    <small><i>Patient:</i></small>
  </li>
  <li id="prescriptionDrug">
    <small><i>Drug:</i></small>
  </li>
  <li id="prescriptionDosage">
    <small><i>Dosage:</i></small>
  </li>
  <li id="prescriptionAilment">
    <small><i>Reason:</i></small>
  </li>
  <li id="prescriptionAppointment">
    <small><i>Appointment Date:</i></small>
  </li>
  <small><i id="prescriptionEdit">
  </i></small>
</ul>


<script type="text/javascript" charset="utf-8">
  $(function addEventListenerToForm() {
    $('#new_prescription').on("submit", function(event) {
      event.preventDefault();
      let values = $(this).serialize();
      $.post('/prescriptions', values).done(function(data) {
        let prescription = data;
        $("#prescriptionPatient").append(
          `<a href="/patients/${prescription["appointment"]["patient"]["id"]}">
          ${prescription["appointment"]["patient"]["first_name"]}  ${prescription["appointment"]["patient"]["last_name"]}</a>`
        );
        $("#prescriptionDrug").append(
          prescription["drug"]
        );
        $("#prescriptionDosage").append(
          prescription["dosage_in_milligrams"] + " " + "mg"
        );
        $("#prescriptionAilment").append(
          prescription["appointment"]["ailment"]["description"]
        );
        $("#prescriptionAppointment").append(
          `<a href="/appointments/${prescription["appointment"]["id"]}">
          ${moment(
            prescription["appointment"]["scheduled_for"]
          ).format('MMM. D, YYYY')}</a>`
        );
        $("#prescriptionEdit").append(
          `<a href="/prescriptions/${prescription["appointment"]["id"]}/edit">
          edit this prescription</a>
          <br>
          <form action="/prescriptions/${prescription["id"]}"
          accept-charset="UTF-8" method="post"><input name="utf8" type="hidden"
          value="✓"><input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token"
          value="aiQxRWZzxN1TFBB1/ApsbI0OdhzJNZ/1qvyf1hRfCa45Pis9st+IB8hXPCBeeD3lVeMaAs9QCIyc4cnJOUAAnA==">
          <input type="hidden" name="id" id="id" value="${prescription["id"]}">
          <input type="submit" name="commit" value="Cancel Prescription"
          data-disable-with="Cancel Prescription">
          </form>`
        );
      });
    });
  });
</script>
