<%= form_for @appointment do |f| %>
  <% if @appointment.errors.any? %>
    <h3>Errors:</h3>
    <ul class="errors">
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <br>
  <% end %>
  <%= f.label "Physician:" %>
  <%= f.collection_select(:doctor_id, Doctor.all, :id, :doctor_with_specialty_and_location) %>
  <br>
  <br>
  Date: <%= f.date_field(:scheduled_for, id: "scheduled_for_date", min: Date.today) %>
  <br>
  <br>
  Time: <%= f.time_select(:scheduled_for, id: "scheduled_for_time", ampm: true, minute_step: 15, start_hour: 7, end_hour: 18) %>
  <br>
  <br>
  <%= f.label "Duration:" %>
  <%= f.number_field(:duration_in_minutes, id: "duration_in_minutes", step: 10, min: 30, max: 120) %> minutes
  <br>
  <br>
  Primary Reason: <%= f.collection_select(:ailment_id, Ailment.unresolved_for_current_user(current_user), :id, :description) %>
  <br>
  <br>
  <br>
  <%= f.submit "Schedule Appointment" %>
<% end %>
