<h2>Appointment Details</h2>

<div id="edit">
  - <%= link_to "Edit This Appointment", edit_appointment_path(@appointment) %>
</div>
<ul>
  <li id="physician">
    <small><i>Physician:</i></small> <%= link_to "Dr. #{@doctor.full_name}", specialty_doctor_path(@doctor.specialty, @doctor) %>
  </li>
  <li id="patient">
    <small><i>Patient:</i></small> <%= link_to @patient.full_name, patient_path(@patient) %>
  </li>
  <li id="day">
    <small><i>Day:</i></small> <%= @appointment.scheduled_for.strftime("%A") %>
  </li>
  <li id="date">
    <small><i>Date:</i></small> <%= @appointment.scheduled_for.strftime("%b. %d, %Y") %>
  </li>
  <li id="time">
    <small><i>Time:</i></small> <%= @appointment.scheduled_for.strftime("%l:%M %P") %>
  </li>
  <li id="duration">
    <small><i>Duration:</i></small> <%= @appointment.duration_in_minutes %> min.
  </li>
  <li id="reason">
    <small><i>Reason:</i></small> <%= @appointment.ailment.description %>
  </li>
</ul>
<div id="cancel">
  <%= form_tag appointment_path(@appointment), method: 'delete' do %>
    <%= hidden_field_tag "id", @appointment.id %>
    <%= submit_tag "Cancel Appointment" %>
  <% end %>
</div>
<br>
<br>
-- <%= link_to "Next Appointment", appointment_path(@next_appointment) %> --
<br>
<br>
<% if current_user.role_type == "Doctor" %>
  <%= link_to "Patient Profile", patient_path(@appointment.patient) %>
  <br>
  <%= link_to "My Profile", specialty_doctor_path(current_user.role.specialty, current_user.role) %>
<% else %>
  <%= link_to "Go Back to My Profile", patient_path(current_user.role) %>
<% end %>
